.animalsContainer {
  padding: 2rem;
  display: grid;
}
.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.optionsWindow {
  padding: 5px;
  font-size: 1rem;
  font-family: inherit;
  margin-left: 10px;
}
.inputContainer label {
  font-size: 1rem;
}
