.cardsContainer {
  display: grid;
  padding: 5rem 2rem;
}
.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 700;
}

.optionsWindow {
  padding: 5px;
  font-size: 1rem;
  font-family: inherit;
  margin-left: 10px;
}
.inputContainer label {
  font-size: 1rem;
}
.numberOfCards {
  font-size: 1.5rem;
}
.cards {
  display: grid;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
