.containerFrontpage {
  display: flex;
  height: 100vh;
}

.animalsFrontpage,
.birdsFrontpage {
  display: flex;
  align-items: top;
  justify-content: center;
  width: 50%;

  font-size: 3rem;
  font-weight: bold;
}
.animalsFrontpage a,
.birdsFrontpage a {
  text-decoration: none;
  color: #000;
}
.animalsFrontpage {
  background-image: url("https://source.unsplash.com/random/?bear");
  background-size: cover;
  height: 100%;
  background-position: center;
}
.birdsFrontpage {
  background-image: url("https://source.unsplash.com/random/?owl");
  background-position: center;
  background-size: cover;
  height: 100%;
}
.animalsFrontpage a:hover,
.birdsFrontpage a:hover {
  color: white;
}
