.oneBirdBox {
  padding: 2rem;
  min-height: calc(100vh - 5rem);
}
.oneBirdBox section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 6rem;
}
.oneBirdBox img {
  width: 100%;
}

.goBackBtn {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  margin-top: 3rem;
}
.goBackBtn:hover {
  cursor: pointer;
}
.likes {
  margin-bottom: 2rem;
}
