.header {
  align-self: stretch;
  background-color: #ffebb3;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1rem 2rem rgb(0, 0, 0, 0.06);
}

.header ul {
  display: flex;
  gap: 2rem;
  justify-content: end;
  font-size: 1.5rem;
  font-weight: 500;
}
.header a {
  text-decoration: none;
  color: inherit;
}
.nav :global(.active) {
  border-bottom: 2px solid black;
}
